body {
    background-color: #8a8a8a;
    font-family: monospace;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgb(42, 41, 41) 30%, #8a8a8a 70%);
    padding: 10px;
}
.scaled-image {
    width: 100px;
    height: auto;
}
.header-text {
    margin-left: 10px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
.menu {
    position: absolute;
    top: 110px; /* Adjust based on header height */
    left: 0;
    width: 165px; /* Adjust width as needed */
    height: calc(100% - 100px); /* Adjust based on header height */
    background-color: rgb(42, 41, 41);
    padding: 10px;
}
.begin{
    color: white;
}
.about{
    color: white;
}

.content {
    margin-left: 165px; /* Adjust based on menu width */
    display: flex;
    top: 100px; /* Adjust based on header height */
    left: 165px; /* Adjust based on menu width */
    width: calc(100% - 165px); /* Adjust based on menu width */
    height: 100vh; /* Adjust based on header height */
    justify-content: end;
}

.hidden-radio {
    display: none;
}

.section {
    flex: 1;
    height: 100vh; /* Adjust height as needed */
    transition: background-color 0.3s;
    cursor: pointer;
}

.red-section {
    background-color: rgb(139, 6, 6);
}

.green-section {
    background-color: rgb(9, 76, 9);
}

#red:checked + .red-section {
    background-color: red;
}

#green:checked + .green-section {
    background-color: green;
}

.menu .btn {
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.menu .btn.begin {
    background-color: #707070;
}
.menu .btn.about {
    background-color: #797979;
}
.menu .btn.begin:hover {
    background-color: #424242;
}
.menu .btn.about:hover {
    background-color: #3a3a3a;
}
.menu .btn.begin:active {
    background-color: #171717; /* Even darker shade for active effect */
}
.menu .btn.about:active {
    background-color: #171717; /* Even darker shade for active effect */
}